.banner-image {
  background-image: url('/assets/images/asphalt-empty.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 30px;
}

.top-signup {
  margin: 60px 0;
}

.header-signup {
  margin-top: 120px;
}

.header-signup h1 {
  font-size: 50px;
  color: #666;
}

.header-signup h3 {
  font-size: 25px;
  color: #888;
}

.card-signup {
  max-width: 450px;
}

.user-type,
.role {
  display: flex;
  justify-content: space-evenly;
}

.role-icon {
  width: 75px;
  height: 75px;
}
