.homeBackground {
  background-image: url("/assets/home/home-backgroud.svg");
  height: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 10px 10px -10px #000000 inset;
  padding-top: 10px;
}

.container-FormOnHome {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  font-size: 2, 8em !important;
}
