.homeBackground {
  background-image: url('/assets/home/tiger-woods.jpg');
  background-size: cover;
  padding-top: 0.5px;
}

.form-style {
  margin: 90px 0 150px 250px;
}

.container-FormOnHome {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.section-title {
  font-size: 30pt !important;
  color: #ffffff !important;
  font-weight: bold !important;
}

.main-style {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* ------------------------- Second Section ------------------------------- */

.second-style {
  background: #fafafa;
}

.top-style {
  padding: 0 5% 5% 5%;
  background: #fafafa;
}

.middle-background {
  background-image: url('/assets/home/american-footbal.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 45%, 0 70%);
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 70%);
}

.middle-style {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-style {
  padding: 150px 0 350px 350px;
  font-size: 35pt;
  color: #ffffff;
}

.background-style {
  margin-top: -300px;
  background-image: url('/assets/home/boxing.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0 25%, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(0 35%, 100% 0, 100% 100%, 0% 100%);
  height: 400px;
}

.title-style2 {
  padding: 250px 350px 150px 0px;
  font-size: 35pt;
  color: #ffffff;
}

.title-main {
  font-size: 25pt;
  font-family: 'Comfortaa', cursive;
  margin-bottom: -20px;
}

.title-secondary {
  font-family: 'Lato', sans-serif;
  color: #838282;
}

.title-main2 {
  font-size: 25pt;
  font-family: 'Comfortaa', cursive;
  letter-spacing: 15px;
}

.title-secondary2 {
  margin-top: -15px;
  margin-left: -5px;
  font-family: 'Lato', sans-serif;
  color: #838282;
}

.title-slave {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}

.third-title1 {
  font-size: 30pt;
  padding: 5% 0 1% 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ------------------------- Third Section ------------------------------- */

.third-style1 {
  background: #fafafa;
}

.third-style2 {
  padding: 5%;
}

.third-title {
  font-size: 30pt;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pharagraph-style {
  font-family: 'Lato', sans-serif;
  font-size: 15pt;
}

.pharagraph-style2 {
  padding: 2%;
  color: #ffffff;
  background: #424242;
  font-family: 'Comfortaa', cursive;
  font-size: 20pt;
  border-radius: 10px;
}

.message-style {
  margin-top: 5% !important;
}

/* ------------------------- Fourth Section ------------------------------- */

.fourth-style {
  background: #fafafa;
}

.background-style2 {
  margin-top: -200px;
  background-image: url('/assets/home/ball.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 48% 28%, 100% 0%, 100% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 48% 28%, 100% 0%, 100% 100%, 0% 100%);
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourth-title {
  font-size: 30pt;
  padding: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-inside {
  padding-top: 100px;
  color: #fafafa;
}

.font-inside {
  font-size: 40pt;
  letter-spacing: 5pt;
}

.picture-style {
  padding-left: 135px;
}

.title-card {
  padding: 50px 0 50px 0;
  font-size: 45pt;
  font-family: 'Comfortaa', cursive;
  /* border: #424242 1px solid; */
}

.card-style {
  display: flex !important ;
  justify-content: space-around !important ;
}

.card2 {
  padding-left: 45px !important ;
}

.card3 {
  padding-left: 45px !important ;
  padding-left: 135px;
}

/* ------------------------- Fifth Section ------------------------------- */

.fifth-style {
  padding: 1%;
  background: #fafafa;
}

.box-style {
  padding: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
}

.box-title {
  /* font-family: 'Lato', sans-serif; */
  letter-spacing: 10px;
  font-size: 35pt;  
  color: #353535;
}

.contact-style {
  color: #353535;
  margin: 10% 0 10% 0;
  background: #eceaea;
  border-radius: 20px;
}

.contact-text {
  padding: 10%;
}

.contact-box {
  display: flex;
  flex-direction: row;
}

.form-contact {
  padding-top: 12%;
}

/* ------------------------- Fifth Section ------------------------------- */

.footer-style {
  padding: 3% 10% 1% 10%;
  /* margin-top: 10%; */
  background: #353535;
}

.footer-text-title {
  color: #fafafa !important ;
  font-size: 12pt !important;
}

.footer-image {
  margin-top: 5px;
}

.footer-text, .footer-subtitle {
  color: #e6e6e6 !important ;
}

.footer-subtitle {
  margin-top: -10px;
}

.footer-icon {
  margin: -10% -3% 0 0 !important ;
}

.copyright-style {
  padding: 1%;
  background: #2b2929;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fafafa;
}